<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>About</title>
</head>
<body>
<h1> About Page </h1>

 <div><ul>
   <li>	<a href="{{path('app_login') }}">Sign In</a></li><br><br>
  <li>	<a href="{{path('app_register') }}"> Sign Up</a></li>
</ul>
   </div>
</body>
</html>