




<html><head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Fixed Bootstrap 4 Vertical Sidebar Navigation Example</title>
<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script><script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script type="text/javascript">$(function() {
  // Sidebar toggle behavior
  $('#sidebarCollapse').on('click', function() {
    $('#sidebar, #content').toggleClass('active');
  });
});
</script>
    <style type="text/css">
    	body {
background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}

.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}
    </style>
</head>
<body>

	<!-- Vertical navbar -->
	<div class="vertical-nav bg-dark active" id="sidebar">
  		<div class="py-4 px-3 mb-4 bg-dark">
      		<div class="media-body">
        		<h4 class="font-weight-white text-muted mb-0">Dashboard</h4>
      		</div>
  		</div>

  		<ul class="nav flex-column bg-dark mb-0">
    		<li class="nav-item">
      			<a href="{{path('app_dashboard') }}" class="nav-link text-light font-italic bg-dark">
                	<i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                		Home
            	</a>
    		</li>
    		<li class="nav-item">
      			<a href="{{ path('user_new') }}"  class="nav-link text-light font-italic">
                	<i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                	About
            	</a>
    		</li>
    		<li class="nav-item">
      			<a href="#" class="nav-link text-light font-italic">
                	<i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                	Services
            	</a>
    		</li>
    		<li class="nav-item">
      			<a href="#" class="nav-link text-light font-italic">
                	<i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                	Gallery
            	</a>
    		</li>
  		</ul>

  		<p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Charts</p>

  			<ul class="nav flex-column bg-dark mb-0">
    			<li class="nav-item">
      				<a href="#" class="nav-link text-light font-italic">
                	<i class="fa fa-area-chart mr-3 text-primary fa-fw"></i>
                		Area charts
            		</a>
    			</li>
    			<li class="nav-item">
      				<a href="#" class="nav-link text-light font-italic">
                	<i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i>
                		Bar charts
            		</a>
    			</li>
    			<li class="nav-item">
      				<a href="#" class="nav-link text-light font-italic">
                	<i class="fa fa-pie-chart mr-3 text-primary fa-fw"></i>
                		Pie charts
            		</a>
    			</li>
    			<li class="nav-item">
      				<a href="{{path('app_logout') }}"  class="nav-link text-light font-italic">
                	<i class="fa fa-line-chart mr-3 text-primary fa-fw"></i>
                		Logout
            		</a>
    			</li>
  			</ul>
	</div>
<!-- End vertical navbar -->

<!-- Page content holder -->
	<div class="page-content p-5 active" id="content">
  		<!-- Toggle button -->
  		<button id="sidebarCollapse" type="button" class="btn btn-dark bg-dark rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Toggle</small></button>

  <!-- Demo content -->
  <h1 class="display-4 text-white">Dashboard</h1>
  <div class="box">
	<form method="post">
	    {% if app.user %}
	        <div class="mb-3">
	           <div class="bb"> You are logged in </div> as 
				{{ app.user.username }}, <br>
	        </div>
	       {% endif %}
	</form>
	</div>
<!-- End content -->

</body></html>