<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>about</title>
</head>
<body>
<h1> About Page </h1>

 <div>
   	<a href="{{path('app_dashboard') }}"> Back to Dashbord</a>
   </div>
</body>
</html>