<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Doc</title>
</head>
<body>
<h1> Tous Les Docs creer </h1>

	<a href="{{path('create')}}">creer un doc</a>

{% if doc|length > 0 %}
	{% for doc in doc %}
		<article>
			<h1>{{ doc.nom }}</h1>
			<p>{{ doc.description }}</p>
		</artticle>
	{% endfor %}
{% else %}
	<p>Désolé, n ya pas des docs encore </p>
{% endif %}

</body>
</html>